.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/avatarIA.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6); // oscurece la imagen
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding: 2rem;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile-avatar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fa0000;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(79, 248, 1, 0.651);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}


.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0.5rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.95rem;
  }
}
