<header class="hero-section">
<nav class="main-nav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about-us" routerLinkActive="active">About Us</a>
  <a routerLink="/products" routerLinkActive="active">Productos</a>

    <div class="profile-avatar" (click)="triggerFileInput()">
  <img [src]="avatarUrl" alt="Avatar" />
  <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />
</div>
</nav>

  <div class="overlay"></div>
  <div class="hero-content">
    <app-title [title]="pageTitle" (dataFromChild)="onDataCheck($event)"></app-title>
    <p class="hero-subtitle">Disfruta de esta página creada con Angular, pensada para ofrecerte velocidad, claridad y diseño adaptable. Ya sea que explores quiénes somos, descubras nuestros productos o simplemente navegues por curiosidad, aquí todo fluye con precisión técnica y estilo visual.</p>
  </div>
</header>
