.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2021/09/26/14/37/milky-way-6657951_640.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6); // oscurece la imagen
  z-index: 1;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  background: transparent;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000000;
  cursor: pointer;
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    position: relative;
    transition: color 0.3s ease;
    
  
   .main-nav a { 
      &:hover {
      color: #007acc;
    }

    .main-nav  a {
    &.active::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #007acc;
    }
  }
   }}}
.active {
  background-color: rgba(255, 255, 255, 0.8); // blanco fino transparente
  color: #000; // texto negro
  padding: 0.4rem 0.8rem;
  border-radius: 6px; // puntas redondeadas
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // sombra sutil
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: #007acc; // azul elegante al pasar el mouse
  }
}

.main-nav a:hover {
  color: #007acc;
}
.hero-content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding: 2rem;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile-avatar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fa0000;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(79, 248, 1, 0.651);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.profile-avatar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fa0000;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(79, 248, 1, 0.651);
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      transform: scale(1.05);
      opacity: 0.85;
    }
  }
}
@media (max-width: 768px) {
  .profile-avatar img {
    display: none !important;
  }
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0.5rem;

 @media (max-width: 768px) {
  font-size: 1rem;
  padding: 0 1rem;
}

  @media (max-width: 480px) {
    font-size: 0.95rem;
  }
}
