<header class="hero-section">
<nav class="main-nav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about-us" routerLinkActive="active">About Us</a>
  <a routerLink="/products" routerLinkActive="active">Productos</a>
</nav>

  <div class="profile-avatar">
    <img src="https://cdn.pixabay.com/photo/2024/03/07/16/10/ai-generated-8618866_640.jpg" alt="Avatar" />
  </div>
  <div class="overlay"></div>
  <div class="hero-content">
    <app-title [title]="pageTitle" (dataFromChild)="onDataCheck($event)"></app-title>
    <p class="hero-subtitle">Esta es mi primera app de Angular que estoy practicando</p>
  </div>
</header>
