<section class="main-container">
  <div class="intro">
    <img src="https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_640.jpg" alt="Foto de Landolt" class="profile-img" />
    <h1>Hola, soy {{ nombre }}</h1>
    <p>{{ descripcion }}</p>
  </div>

  <div class="learning">
    <h2>📚 Aprendiendo Angular</h2>
    <p>{{ aprendiendo }}</p>
  </div>

  <div class="intro">
    <h3>Lorem</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, est odio. Tenetur placeat officiis, minima numquam amet, adipisci culpa possimus earum nemo necessitatibus illum veniam fugit itaque obcaecati. Quod, beatae.</p>
  </div>
</section>

<app-user-card></app-user-card>

